html, body {
    height: 100%;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;

}

.navbar {
    padding: 0.8rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 50px;
    font-size: 20px;
}

#balloon {
    width: 20px;
    height: 20px;
}

#balloon1 {
    width: 40px;
    height: 50px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.carousel-caption h5 {
    font-size: 200%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px black;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
    background-color: lightcyan;
}

.padding {
    padding: 1rem;
}

.container {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.social a {
    font-size: 4.5rem;
    padding: 3rem;
}

.fa-twitter {
    color: #00aced;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #517fa4;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.dark {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
